<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link href="/styles/bootstrap.css" rel="stylesheet">
    <script src="/js/BookList.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body onload=" getAllBooks()">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">Book list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="search">Search book</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            <button>Logout</button>
        </form>
    </div>
</nav>
<ul class="list-inline container">
    <div id="BookContainer"></div>
</ul>

</body>
</html>