<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book list</title>
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body class="text-center">
<h1>Support Friendly Error Page</h1>

<p th:if="${url}">
    <b>Page:</b> <span th:text="${url}">Page URL</span>
</p>
<p th:if="${ex}">
    <b>Page:</b> <span th:text="${ex.message}">Page URL</span>
</p>

<p>Application has encountered an error. </p>

<p>Whatever you were looking for was not found, but maybe try looking again.</p>
<img src="/images/index.png">
</body>
</html>