<html>
<title>Welcome</title>
<link href="/styles/bootstrap.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/books/list">Book list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books/search">Search book</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
            <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>
        </form>
    </div>
</nav>

<ul class="navbar-nav">
    <li><a href="/swagger-ui.html">Rest Documentation</a></li>
    <li><a href="/books/list">Books list(thymeleaf)</a></li>
    <li><a href="/test">Books list (html+ajax)</a></li>
</ul>
</body>
</html>